# 1. Ignore all files in these specific data folders
data/nibrs/*
data/crosswalk/*
data/ccc/*
data/acled/*
data/count_love/*

# 2. But allow (un-ignore) the Jupyter Notebooks inside them
!data/nibrs/*.ipynb
!data/crosswalk/*.ipynb
!data/ccc/*.ipynb
!data/acled/*.ipynb
!data/count_love/*.ipynb

# 3. Standard Python/Jupyter ignores
.ipynb_checkpoints/
**/ .ipynb_checkpoints/
__pycache__/
thesis_env/
